body,html{
    margin:0px;
    font-family: arial;
    font-size:4vw;
    background-color: #AAFFC7;
}

body{
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

#logo{
    text-align: center;
    width: 100%;
	
    padding:1% 0%;
	border-radius: 35px;
	border: 2px #215b63 solid;
	background-color: #5FCC9C;
}

#logoimg{
    max-width: 90%;
}

h3{
    font-size: 5vw;
    color:#215b63;
	margin: 1% 0%;
}

#cronometro{
    position: fixed;
    top: 7.5%;
    right: 0px;
    background-color: #00c9b1;
    font-weight: bold;
	font-size: 4vw;
    text-align: center;
    color: #215b63;
    padding: 1.5%;
    border: 2px #215b63 solid;
    border-radius: 50px;
    margin: 0.5%;
    overflow: hidden; 
    opacity: 0.5; 
}

#cronometro p{
    margin: 0;
}

input,select{width: 80%}




input[type=radio]{width:5%;zoom:1.25}

select, input[type=text] {
    padding: 0.5%;
    border: 1.5px #215b63 solid;
    border-radius: 50px;
    background-color: #AAFFC7;
    color: #215b63;
    font-size: 4vw;
}

form{
    background-color: #AAFFC7;
    padding:1%;
    border-radius: 35px;
}




label{
    color: #215b63;
    font-size: 4vw;
}

select:focus,input[type=text]:focus{
    border-color:#00c9b1;
}




#correccion{
	text-align: center;
	width: auto;	
    border: 1.5px #215b63 solid;
    border-radius: 50px;
    background-color: #215b63;
}	



#notaFinal{
    display: none;
    background-color: #00c9b1;
    padding: 1%;
    margin-top: 3%;
    border: 2px #215b63 solid;
    border-radius: 35px;
}

p{
    font-size: 4vw;
    color: #215b63;
}

